

.parent_container {
  margin: auto;
  padding-left: 15vw;
  text-align: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(to top, #a9c2af , #c5d1c7);
  /* background-color: #a9c2af; */
}
.collection_container {

  height: 80%;
  overflow: scroll;
  padding-top: 3vh;
  margin-top: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  /* width: 45vw; */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.collection_container::-webkit-scrollbar {
  display: none;
}


.middle_panel {
  /* overflow: hidden; */
  float: left;
  height: 100vh;


}
.left_panel {
  float: left;
  width: 15vw;
  height: 100vh;
  padding-top: 3vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /* background-color: red; */

}

.right_panel {
  float: right;
  width: 19vw;
  padding-top: 3vh;
  height: 100vh;
  /* background-color: darkslategrey; */

}

.refresh_button {
  margin-left: auto;
  margin-right: auto;
  height: 5vw;
  margin-top: 4vh;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  text-align: center;
  background: #95ab9a;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -5px -5px 10px;
}

.button_slide {
  margin-left: auto;
  margin-right: auto;
  height: 5vh;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  text-align: center;
  background: #95ab9a;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -5px -5px 10px;
}

.button_inner {
  position: fixed;
  top: -500px;
  background: #95ab9a;
  width: 8vw;
  text-align: left;
  padding: 12px 12px;
  /* height: 4vw; */
  border-radius: 5px 5px 5px 5px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: -5px -5px 10px;

}

.button_slide:hover {
  margin-top: 4vh;
  width: 7vw;
  height: 7vh;
}

.button_slide:hover .button_inner {
  top: 3vh;
}


.release {
  /* text-align: center; */
  width: 30vw;
  margin: 0 auto;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -5px -5px 10px;

}
.release_banner {
  /* background-color: red; */
  /* overflow: visible; */
  max-height: 20vh;
  height: 98%;
  width: 98%;
}

.release_notes {
  padding: 2%;
  box-shadow: -2px -2px 6px;
  border-radius: 5px 5px 5px 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-line;
  width: 80%;
  height: 80%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.release_notes::-webkit-scrollbar {
  display: none;
}

.release_left_panel {
  float: left;
  height: 90%;
  margin-right: 10%;
  /* background-color: blue; */
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.release_middle_panel {
  overflow: visible;
  float: left;
  height: 90%;
   width: 35%;
  /* background-color: green; */
}

.release_right_panel {
  float: right;
  /* height: 90%; */
  justify-content: right;
  /* background-color: black; */
  /* border:1px solid black; */


}

.label {

  overflow: visible;
  vertical-align: top;
  height: 25%;
  display: inline-block;
  justify-content: left;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 150%;
}