

.parent_container {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  background-color: darkslategrey;
}
.collection_container {

  height: 80%;
  overflow: scroll;
  padding-top: 2vh;
  margin-top: 7vh;
  width: 61vw;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.collection_container::-webkit-scrollbar {
  display: none;
}


.middle_panel {
  /* overflow: hidden; */
  float: left;
  height: 100vh;


}
.left_panel {
  float: left;
  width: 20vw;
  height: 100vh;
  padding-top: 3vh;
}

.right_panel {
  float: left;
  width: 20vw;
  height: 100vh;
}

.button_slide {
  margin-left: auto;
  margin-right: auto;
  height: 5vw;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  text-align: center;
  background: #6DAD53;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -5px -5px 10px;
}

.button_inner {
  position: fixed;
  top: -250px;
  background: #6DAD53;
  width: 14vw;
  text-align: left;
  padding: 12px 12px;
  height: 130px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: -5px -5px 10px;

}

.button_slide:hover {
  margin-top: 4vh;
}

.button_slide:hover .button_inner {
  top: 3vh;
}


.Release {
  /* text-align: center; */
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -2px -2px 6px;

}
.release_banner {
  overflow: hidden;
  max-height: 20vh;
  height: 100%;
  background-color: aqua;
}

.release_notes {
  padding: 2%;
  box-shadow: -2px -2px 6px;
  border-radius: 5px 5px 5px 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-line;
  width: 80%;
  height: 80%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.release_notes::-webkit-scrollbar {
  display: none;
}